<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Discover Your Inner Animal</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo" id="brand-logo">Discover Your Own Animal</a>
		</div>
	</nav>
	{{{ body }}}

	<footer class="footer">
		<div class="container">
		</div>
		<div class="container">
			© 2021 Copyright | Tyler Team #2
		</div>
	</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/js/view.js"></script>
</body>

</html>