<head>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<img id="mainPhoto" src="inner-animal.jpg" alt="splashpage image">

<div class="mainDescription">
  <p id="descTitle">Discover Your Own Animal</p>
  <p>
    Discover Your Own Animal: What Animal Do You Think You Are?
    What animal best describes you?
    Start the quiz to find out! </p>
</div>
<br>

<a href="/api/questions">
  <button class="startBTN btn waves-effect waves-light">Start
    <i class="material-icons right">start</i>
  </button>
</a>
<br> 